.modal-background {
  position: absolute;
  background-color: black;
  opacity: 50%;
  transition: .25s ese;
  inset: 0px;
}

.modal {
  position: absolute;
  top: 3rem;
  margin: auto;
  left: 0;
  right: 0;
  width: 40rem;
  z-index: 1;

  background-color: white;
  padding: 2rem;
  border-radius: 0.35rem;

}